<aside class="sidebar">
  <div class="sidebar-content">
    <img src="assets/img/me.jpg" alt="Francesco Caravelli" class="profile-pic" />
    <h1><a href="index.html">Francesco Caravelli</a></h1>
    <nav>
      <ul>
        <li><a href="ecv.html">eCV</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="codes.html">Codes</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </nav>
  </div>
  <footer>
    <p>© 2025 Francesco Caravelli</p>
  </footer>
</aside>
